<!DOCTYPE html>
<html lang="en">

{{> admin/header}}

<body>
    <!--== MAIN CONTRAINER ==-->
    {{> admin/navBar}}

    <div class="container-fluid sb2">
        <div class="row">
            {{> admin/sideBar}}

            <div class="sb2-2">
                <div class="sb2-2-2">
                    <ul>
                        <li><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                        </li>
                        <li class="active-bre"><a href="#"> Package Booking Enquiry</a>
                        </li>
                    </ul>
                </div>
                <div class="sb2-2-3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box-inn-sp">
                                <div class="inn-title">
                                    <h4>Package Booking Enquiry</h4>
                                    <p>Airtport Hotels The Right Way To Start A Short Break Holiday</p>
                                    <a class="dropdown-button drop-down-meta" href="#" data-activates="dr-users"><i
                                            class="material-icons">more_vert</i></a>
                                    <ul id="dr-users" class="dropdown-content">
                                        <li><a href="#!">Add New</a>
                                        </li>
                                        <li><a href="#!">Edit</a>
                                        </li>
                                        <li><a href="#!">Update</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#!"><i class="material-icons">delete</i>Delete</a>
                                        </li>
                                        <li><a href="#!"><i class="material-icons">subject</i>View All</a>
                                        </li>
                                    </ul>

                                    <!-- Dropdown Structure -->

                                </div>
                                <div class="tab-inn">
                                    <div class="table-responsive table-desi">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>User</th>
                                                    <th>Package</th>
                                                    <th>Phone</th>
                                                    <th>Email</th>
                                                    <th>Message</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><span class="list-img"><img src="images/listing/1.jpeg" alt=""></span>
                                                    </td>
                                                    <td><a href="#"><span class="list-enq-name">Domestic Help Services</span><span
                                                                class="list-enq-city">Illunois, United States</span></a>
                                                    </td>
                                                    <td>+91 32111 65412</td>
                                                    <td>enquiry@mail.com</td>
                                                    <td>Australia</td>
                                                    <td>It is a long established fact that a reader will be distracted
                                                        by the readable content of a page when looking at its layout.</td>
                                                </tr>
                                                <tr>
                                                    <td><span class="list-img"><img src="images/listing/2.jpeg" alt=""></span>
                                                    </td>
                                                    <td><a href="#"><span class="list-enq-name">Home Appliances Repair
                                                                & Services</span><span class="list-enq-city">Illunois,
                                                                United States</span></a>
                                                    </td>
                                                    <td>+91 32111 65412</td>
                                                    <td>enquiry@mail.com</td>
                                                    <td>Australia</td>
                                                    <td>It is a long established fact that a reader will be distracted
                                                        by the readable content of a page when looking at its layout.</td>
                                                </tr>
                                                <tr>
                                                    <td><span class="list-img"><img src="images/listing/3.jpg" alt=""></span>
                                                    </td>
                                                    <td><a href="#"><span class="list-enq-name">Packers and Movers</span><span
                                                                class="list-enq-city">Illunois, United States</span></a>
                                                    </td>
                                                    <td>+91 32111 65412</td>
                                                    <td>enquiry@mail.com</td>
                                                    <td>Australia</td>
                                                    <td>It is a long established fact that a reader will be distracted
                                                        by the readable content of a page when looking at its layout.</td>
                                                </tr>
                                                <tr>
                                                    <td><span class="list-img"><img src="images/listing/4.jpeg" alt=""></span>
                                                    </td>
                                                    <td><a href="#"><span class="list-enq-name">Security System Dealers</span><span
                                                                class="list-enq-city">Illunois, United States</span></a>
                                                    </td>
                                                    <td>+91 32111 65412</td>
                                                    <td>enquiry@mail.com</td>
                                                    <td>Australia</td>
                                                    <td>It is a long established fact that a reader will be distracted
                                                        by the readable content of a page when looking at its layout.</td>
                                                </tr>
                                                <tr>
                                                    <td><span class="list-img"><img src="images/listing/5.jpg" alt=""></span>
                                                    </td>
                                                    <td><a href="#"><span class="list-enq-name">Skin Care & Treatment</span><span
                                                                class="list-enq-city">Illunois, United States</span></a>
                                                    </td>
                                                    <td>+91 32111 65412</td>
                                                    <td>enquiry@mail.com</td>
                                                    <td>Australia</td>
                                                    <td>It is a long established fact that a reader will be distracted
                                                        by the readable content of a page when looking at its layout.</td>
                                                </tr>
                                                <tr>
                                                    <td><span class="list-img"><img src="images/listing/1.jpeg" alt=""></span>
                                                    </td>
                                                    <td><a href="#"><span class="list-enq-name">Domestic Help Services</span><span
                                                                class="list-enq-city">Illunois, United States</span></a>
                                                    </td>
                                                    <td>+91 32111 65412</td>
                                                    <td>enquiry@mail.com</td>
                                                    <td>Australia</td>
                                                    <td>It is a long established fact that a reader will be distracted
                                                        by the readable content of a page when looking at its layout.</td>
                                                </tr>
                                                <tr>
                                                    <td><span class="list-img"><img src="images/listing/1.jpeg" alt=""></span>
                                                    </td>
                                                    <td><a href="#"><span class="list-enq-name">Domestic Help Services</span><span
                                                                class="list-enq-city">Illunois, United States</span></a>
                                                    </td>
                                                    <td>+91 32111 65412</td>
                                                    <td>enquiry@mail.com</td>
                                                    <td>Australia</td>
                                                    <td>It is a long established fact that a reader will be distracted
                                                        by the readable content of a page when looking at its layout.</td>
                                                </tr>
                                                <tr>
                                                    <td><span class="list-img"><img src="images/listing/2.jpeg" alt=""></span>
                                                    </td>
                                                    <td><a href="#"><span class="list-enq-name">Home Appliances Repair
                                                                & Services</span><span class="list-enq-city">Illunois,
                                                                United States</span></a>
                                                    </td>
                                                    <td>+91 32111 65412</td>
                                                    <td>enquiry@mail.com</td>
                                                    <td>Australia</td>
                                                    <td>It is a long established fact that a reader will be distracted
                                                        by the readable content of a page when looking at its layout.</td>
                                                </tr>
                                                <tr>
                                                    <td><span class="list-img"><img src="images/listing/3.jpg" alt=""></span>
                                                    </td>
                                                    <td><a href="#"><span class="list-enq-name">Packers and Movers</span><span
                                                                class="list-enq-city">Illunois, United States</span></a>
                                                    </td>
                                                    <td>+91 32111 65412</td>
                                                    <td>enquiry@mail.com</td>
                                                    <td>Australia</td>
                                                    <td>It is a long established fact that a reader will be distracted
                                                        by the readable content of a page when looking at its layout.</td>
                                                </tr>
                                                <tr>
                                                    <td><span class="list-img"><img src="images/listing/4.jpeg" alt=""></span>
                                                    </td>
                                                    <td><a href="#"><span class="list-enq-name">Security System Dealers</span><span
                                                                class="list-enq-city">Illunois, United States</span></a>
                                                    </td>
                                                    <td>+91 32111 65412</td>
                                                    <td>enquiry@mail.com</td>
                                                    <td>Australia</td>
                                                    <td>It is a long established fact that a reader will be distracted
                                                        by the readable content of a page when looking at its layout.</td>
                                                </tr>
                                                <tr>
                                                    <td><span class="list-img"><img src="images/listing/5.jpg" alt=""></span>
                                                    </td>
                                                    <td><a href="#"><span class="list-enq-name">Skin Care & Treatment</span><span
                                                                class="list-enq-city">Illunois, United States</span></a>
                                                    </td>
                                                    <td>+91 32111 65412</td>
                                                    <td>enquiry@mail.com</td>
                                                    <td>Australia</td>
                                                    <td>It is a long established fact that a reader will be distracted
                                                        by the readable content of a page when looking at its layout.</td>
                                                </tr>
                                                <tr>
                                                    <td><span class="list-img"><img src="images/listing/1.jpeg" alt=""></span>
                                                    </td>
                                                    <td><a href="#"><span class="list-enq-name">Domestic Help Services</span><span
                                                                class="list-enq-city">Illunois, United States</span></a>
                                                    </td>
                                                    <td>+91 32111 65412</td>
                                                    <td>enquiry@mail.com</td>
                                                    <td>Australia</td>
                                                    <td>It is a long established fact that a reader will be distracted
                                                        by the readable content of a page when looking at its layout.</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--== BOTTOM FLOAT ICON ==-->
    <section>
        <div class="fixed-action-btn vertical">
            <a class="btn-floating btn-large red pulse">
                <i class="large material-icons">mode_edit</i>
            </a>
            <ul>
                <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a>
                </li>
                <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a>
                </li>
                <li><a class="btn-floating green"><i class="material-icons">publish</i></a>
                </li>
                <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a>
                </li>
            </ul>
        </div>
    </section>

    <!--======== SCRIPT FILES =========-->
    {{> admin/footer}}
</body>

</html>