<!DOCTYPE html>
<html lang="en">

{{> admin/header}}

<body>
    <!--== MAIN CONTRAINER ==-->
    {{> admin/navBar}}

    <div class="container-fluid sb2">
        <div class="row">
            {{> admin/sideBar}}

            <div class="sb2-2">
                <div class="sb2-2-2">
                    <ul>
                        <li><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                        </li>
                        <li class="active-bre"><a href="#"> Package Categories</a>
                        </li>
                    </ul>
                </div>
                <div class="sb2-2-1">
                    <div class="inn-title">
                        <h4>All Package Categories</h4>
                        <p>Airtport Hotels The Right Way To Start A Short Break Holiday</p>
                    </div>
                    <div class="bor">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Package Categories</th>
                                    <th>Date</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Package Name Here</td>
                                    <td>24 may, 2017</td>
                                    <td><a href="package-cat-edit" class="sb2-2-1-edit"><i class="fa fa-pencil-square-o"
                                                aria-hidden="true"></i></a>
                                    </td>
                                    <td><a href="#" class="sb2-2-1-edit"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Package Name Here</td>
                                    <td>24 may, 2017</td>
                                    <td><a href="package-cat-edit" class="sb2-2-1-edit"><i class="fa fa-pencil-square-o"
                                                aria-hidden="true"></i></a>
                                    </td>
                                    <td><a href="#" class="sb2-2-1-edit"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Package Name Here</td>
                                    <td>24 may, 2017</td>
                                    <td><a href="package-cat-edit" class="sb2-2-1-edit"><i class="fa fa-pencil-square-o"
                                                aria-hidden="true"></i></a>
                                    </td>
                                    <td><a href="#" class="sb2-2-1-edit"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Package Name Here</td>
                                    <td>24 may, 2017</td>
                                    <td><a href="package-cat-edit" class="sb2-2-1-edit"><i class="fa fa-pencil-square-o"
                                                aria-hidden="true"></i></a>
                                    </td>
                                    <td><a href="#" class="sb2-2-1-edit"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Package Name Here</td>
                                    <td>24 may, 2017</td>
                                    <td><a href="package-cat-edit" class="sb2-2-1-edit"><i class="fa fa-pencil-square-o"
                                                aria-hidden="true"></i></a>
                                    </td>
                                    <td><a href="#" class="sb2-2-1-edit"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>Package Name Here</td>
                                    <td>24 may, 2017</td>
                                    <td><a href="package-cat-edit" class="sb2-2-1-edit"><i class="fa fa-pencil-square-o"
                                                aria-hidden="true"></i></a>
                                    </td>
                                    <td><a href="#" class="sb2-2-1-edit"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>Package Name Here</td>
                                    <td>24 may, 2017</td>
                                    <td><a href="package-cat-edit" class="sb2-2-1-edit"><i class="fa fa-pencil-square-o"
                                                aria-hidden="true"></i></a>
                                    </td>
                                    <td><a href="#" class="sb2-2-1-edit"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>Package Name Here</td>
                                    <td>24 may, 2017</td>
                                    <td><a href="package-cat-edit" class="sb2-2-1-edit"><i class="fa fa-pencil-square-o"
                                                aria-hidden="true"></i></a>
                                    </td>
                                    <td><a href="#" class="sb2-2-1-edit"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>Package Name Here</td>
                                    <td>24 may, 2017</td>
                                    <td><a href="package-cat-edit" class="sb2-2-1-edit"><i class="fa fa-pencil-square-o"
                                                aria-hidden="true"></i></a>
                                    </td>
                                    <td><a href="#" class="sb2-2-1-edit"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>Package Name Here</td>
                                    <td>24 may, 2017</td>
                                    <td><a href="package-cat-edit" class="sb2-2-1-edit"><i class="fa fa-pencil-square-o"
                                                aria-hidden="true"></i></a>
                                    </td>
                                    <td><a href="#" class="sb2-2-1-edit"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--== BOTTOM FLOAT ICON ==-->
    <section>
        <div class="fixed-action-btn vertical">
            <a class="btn-floating btn-large red pulse">
                <i class="large material-icons">mode_edit</i>
            </a>
            <ul>
                <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a>
                </li>
                <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a>
                </li>
                <li><a class="btn-floating green"><i class="material-icons">publish</i></a>
                </li>
                <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a>
                </li>
            </ul>
        </div>
    </section>

    <!--======== SCRIPT FILES =========-->
    {{> admin/footer}}
</body>

</html>