<script src="../../admin/js/jquery.min.js"></script>
<script src="../../admin/js/bootstrap.min.js"></script>
<script src="../../admin/js/materialize.min.js"></script>
<script src="../../admin/js/custom.js"></script>
<script src="../../admin/js/admin.js"></script>