<!DOCTYPE html>
<html lang="en">

{{> admin/header}}

<body>
    <div class="blog-login">
        <div class="blog-login-in">
            <form id="form" action="#" method="GET">
                <img src="images/logo.png" alt="" />
                <div class="row">
                    <div class="input-field col s12">
                        <input id="first_name1" type="text" class="validate">
                        <label for="first_name1">User Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="last_name" type="password" class="validate">
                        <label for="last_name">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <button id="loginAnchor" class="waves-effect waves-light btn-large btn-log-in">Login</button>
                    </div>
                </div>
                <a href="forgot" class="for-pass">Forgot Password?</a>
            </form>
        </div>
    </div>

    <!--======== SCRIPT FILES =========-->
    {{> admin/footer}}
</body>

</html>