<div class="sb2-1">
    <!--== USER INFO ==-->
    <div class="sb2-12">
        <ul>
            <li><img src="images/placeholder.jpg" alt="">
            </li>
            <li>
                <h5>Victoria Baker <span> Santa Ana, CA</span></h5>
            </li>
            <li></li>
        </ul>
    </div>
    <!--== LEFT MENU ==-->
    <div class="sb2-13">
        <ul class="collapsible" data-collapsible="accordion">
            <li><a href="index"><i class="fa fa-bar-chart" aria-hidden="true"></i> Dashboard</a>
            </li>
            <!-- <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-user" aria-hidden="true"></i>
                    Users</a>
                <div class="collapsible-body left-sub-menu">
                    <ul>
                        <li><a href="user-all">All Users</a>
                        </li>
                        <li><a href="user-add">Add New user</a>
                        </li>
                    </ul>
                </div>
            </li> -->
            <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-umbrella" aria-hidden="true"></i>
                    Tour Packages</a>
                <div class="collapsible-body left-sub-menu">
                    <ul>
                        <li><a href="package-all">All Packages</a>
                        </li>
                        <li><a href="package-add">Add New Package</a>
                        </li>
                        <li><a href="package-cat-all">All Package Categories</a>
                        </li>
                        <li><a href="package-cat-add">Add Package Categories</a>
                        </li>
                    </ul>
                </div>
            </li>
            <!-- <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-h-square" aria-hidden="true"></i>
                    Hotels</a>
                <div class="collapsible-body left-sub-menu">
                    <ul>
                        <li><a href="hotel-all">All Hotels</a>
                        </li>
                        <li><a href="hotel-add">Add New Hotel</a>
                        </li>
                        <li><a href="hotel-room-type-all">Room Type</a>
                        </li>
                        <li><a href="hotel-room-type-add">Add Room Type</a>
                        </li>
                    </ul>
                </div>
            </li> -->
            <!-- <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-picture-o" aria-hidden="true"></i>
                    Sight Seeings</a>
                <div class="collapsible-body left-sub-menu">
                    <ul>
                        <li><a href="sight-see-all">All Sight Seeings</a>
                        </li>
                        <li><a href="sight-see-add">Add New Sight Seeing</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-calendar-o" aria-hidden="true"></i>
                    Events</a>
                <div class="collapsible-body left-sub-menu">
                    <ul>
                        <li><a href="event-all">All Events</a>
                        </li>
                        <li><a href="event-add">Add New Event</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-braille" aria-hidden="true"></i>
                    Ui-Kits</a>
                <div class="collapsible-body left-sub-menu">
                    <ul>
                        <li><a href="ui-form">ui-form</a>
                        </li>
                        <li><a href="ui-kit">ui-kit</a>
                        </li>
                        <li><a href="ui-table">ui-table</a>
                        </li>
                        <li><a href="ui-pre-load">ui-pre-load</a>
                        </li>
                        <li><a href="ui-tab">ui-tab</a>
                        </li>
                        <li><a href="ui-icons">ui-icons</a>
                        </li>
                        <li><a href="ui-collapsible">ui-collapsible</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-usd" aria-hidden="true"></i>
                    Discounts</a>
                <div class="collapsible-body left-sub-menu">
                    <ul>
                        <li><a href="discount">All Discounts</a>
                        </li>
                        <li><a href="discount-add">Add New Discounts</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-tags" aria-hidden="true"></i>
                    Offers</a>
                <div class="collapsible-body left-sub-menu">
                    <ul>
                        <li><a href="offers">All Offers</a>
                        </li>
                        <li><a href="offers-add">Add New Offers</a>
                        </li>
                    </ul>
                </div>
            </li> -->
            <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-ticket" aria-hidden="true"></i>
                    Booking & Enquiry</a>
                <div class="collapsible-body left-sub-menu">
                    <ul>
                        <li><a href="hotel-booking-all">Hotel</a>
                        </li>
                        <li><a href="package-booking-all">Package</a>
                        </li>
                        <li><a href="sight-see-booking-all">Sight Seeings</a>
                        </li>
                        <li><a href="event-booking-all">Events</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li><a href="javascript:void(0)" class="collapsible-header active"><i class="fa fa-rss" aria-hidden="true"></i>
                    Blog & Articals</a>
                <div class="collapsible-body left-sub-menu">
                    <ul>
                        <li><a href="blog-all">All Blogs</a>
                        </li>
                        <li><a href="blog-add" class="menu-active">Add Blog</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li><a href="social-media"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Social
                    Media</a>
            </li>
            <li><a href="login" target="_blank"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
            </li>
        </ul>
    </div>
</div>