<!DOCTYPE html>
<html lang="en">

{{> admin/header}}

<body>
    <!--== MAIN CONTRAINER ==-->
    {{> admin/navBar}}

    <div class="container-fluid sb2">
        <div class="row">
            {{> admin/sideBar}}

            <div class="sb2-2">
                <div class="sb2-2-2">
                    <ul>
                        <li><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                        </li>
                        <li class="active"><a href="#"> Social Media</a>
                        </li>
                    </ul>
                </div>
                <div class="sb2-2-add-blog sb2-2-1">
                    <div class="inn-title">
                        <h4>Social Media and Share</h4>
                        <p>Airtport Hotels The Right Way To Start A Short Break Holiday</p>
                    </div>
                    <div class="bor">
                        <form>
                            <div class="form-group">
                                <label for="email1">Facebook:</label>
                                <input type="text" class="form-control" id="email1" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="email2">Twitter:</label>
                                <input type="text" class="form-control" id="email2" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="email3">Google Plus:</label>
                                <input type="text" class="form-control" id="email3" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="email4">Linked In:</label>
                                <input type="text" class="form-control" id="email4" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="email5">Whats App:</label>
                                <input type="text" class="form-control" id="email5" placeholder="">
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--== BOTTOM FLOAT ICON ==-->
    <section>
        <div class="fixed-action-btn vertical">
            <a class="btn-floating btn-large red pulse">
                <i class="large material-icons">mode_edit</i>
            </a>
            <ul>
                <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a>
                </li>
                <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a>
                </li>
                <li><a class="btn-floating green"><i class="material-icons">publish</i></a>
                </li>
                <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a>
                </li>
            </ul>
        </div>
    </section>

    <!--======== SCRIPT FILES =========-->
    {{> admin/footer}}
</body>

</html>