// doctype html
// html 
//     head
//         title=title
//         meta(charset='utf-8')
//         meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
//         link(rel='shortcut icon', href='images/fav.ico')
//         // GOOGLE FONTS
//         link(href='https://fonts.googleapis.com/css?family=Poppins%7CQuicksand:400,500,700', rel='stylesheet')
//         // FONT-AWESOME ICON CSS
//         link(rel='stylesheet', href='stylesheets/font-awesome.min.css')
//         // == ALL CSS FILES ==
//         link(rel='stylesheet', href='stylesheets/style.css')
//         link(rel='stylesheet', href='stylesheets/materialize.css')
//         link(rel='stylesheet', href='stylesheets/bootstrap.css')
//         link(rel='stylesheet', href='stylesheets/mob.css')
//         link(rel='stylesheet', href='stylesheets/animate.css')
//     body
//     block content