<script src="../javascripts/jquery-latest.min.js"></script>
<script src="../javascripts/jquery-ui.js"></script>
<script src="../javascripts/bootstrap.js"></script>
<script src="../javascripts/wow.min.js"></script>
<script src="../javascripts/materialize.min.js"></script>
<script src="../javascripts/custom.js"></script>