<!-- MOBILE MENU -->

<section>
    <div class="ed-mob-menu">
        <div class="ed-mob-menu-con">
            <div class="ed-mm-left">
                <div class="wed-logo">
                    <a href="/""><img src=" images/logo.png" alt="" />
                    </a>
                </div>
            </div>
            <div class="ed-mm-right">
                <div class="ed-mm-menu">
                    <a href="#!" class="ed-micon"><i class="fa fa-bars"></i></a>
                    <div class="ed-mm-inn">
                        <a href="#!" class="ed-mi-close"><i class="fa fa-times"></i></a>
                        <ul>
                            <li><a href="booking-all">Home</a></li>
                        </ul>
                        <ul>
                            <li><a href="all-package">Packages</a></li>
                        </ul>
                        <ul>
                            <li><a href="blog">Blog</a></li>
                        </ul>
                        <ul>
                            <li><a href="contact">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--HEADER SECTION-->
<section>
    <!-- TOP BAR -->
    <div class="ed-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="ed-com-t1-left">
                        <ul>
                            <li><a href="#">Contact: Lake Road, Suite 180 Farmington Hills, U.S.A.</a>
                            </li>
                            <li><a href="#">Phone: +101-1231-123</a>
                            </li>
                        </ul>
                    </div>
                    <!-- <div class="ed-com-t1-right">
                        <ul>
                            <li><a href="login">Sign In</a>
                            </li>
                            <li><a href="register">Sign Up</a>
                            </li>
                        </ul>
                    </div> -->
                    <div class="ed-com-t1-social">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- LOGO AND MENU SECTION -->
    <div class="top-logo" data-spy="affix" data-offset-top="250">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="wed-logo">
                        <a href="/"><img src="images/logo.png" alt="" />
                        </a>
                    </div>
                    <div class="main-menu">
                        <ul>
                            <!-- <li><a href="main">Home</a> -->
                            <li><a href="/">Home</a>

                            </li>
                            <li class="about-menu">
                                <a href="all-package" class="mm-arr">Packages</a>
                            </li>
                            <li><a href="blog">Blog</a>
                            </li>
                            <li><a href="contact">Contact us</a>
                            </li>
                            <!-- <li class="admi-menu">
                                <a href="#" class="mm-arr">Seight Seeing</a>
                                <div class="mm-pos">
                                    <div class="admi-mm m-menu">
                                        <div class="m-menu-inn">
                                            <div class="mm2-com mm1-com mm1-s1">
                                                <div class="ed-course-in">
                                                    <a class="course-overlay" href="places">
                                                        <img src="images/sight/1.jpg" alt="">
                                                        <span>Seight Seeing - 1</span>
                                                    </a>
                                                </div>
                                                <p>Donec lacus libero, rutrum ac sollicitudin sed, mattis non eros.
                                                    Vestibulum congue nec eros quis lacinia. Mauris non tincidunt
                                                    lectus. Nulla mollis, orci vitae accumsan rhoncus.</p>
                                                <a href="places" class="mm-r-m-btn">Read more</a>
                                            </div>
                                            <div class="mm2-com mm1-com mm1-s1">
                                                <div class="ed-course-in">
                                                    <a class="course-overlay" href="places-1">
                                                        <img src="images/sight/2.jpg" alt="">
                                                        <span>Seight Seeing - 2</span>
                                                    </a>
                                                </div>
                                                <p>Donec lacus libero, rutrum ac sollicitudin sed, mattis non eros.
                                                    Vestibulum congue nec eros quis lacinia. Mauris non tincidunt
                                                    lectus. Nulla mollis, orci vitae accumsan rhoncus.</p>
                                                <a href="places-1" class="mm-r-m-btn">Read more</a>
                                            </div>
                                            <div class="mm2-com mm1-com mm1-s1">
                                                <div class="ed-course-in">
                                                    <a class="course-overlay" href="places-2">
                                                        <img src="images/sight/3.jpg" alt="">
                                                        <span>Seight Seeing - 3</span>
                                                    </a>
                                                </div>
                                                <p>Donec lacus libero, rutrum ac sollicitudin sed, mattis non eros.
                                                    Vestibulum congue nec eros quis lacinia. Mauris non tincidunt
                                                    lectus. Nulla mollis, orci vitae accumsan rhoncus.</p>
                                                <a href="places-2" class="mm-r-m-btn">Read more</a>
                                            </div>
                                            <div class="mm2-com mm1-com mm1-s4">
                                                <div class="ed-course-in">
                                                    <a class="course-overlay" href="places-3">
                                                        <img src="images/sight/4.jpg" alt="">
                                                        <span>Seight Seeing - 4</span>
                                                    </a>
                                                </div>
                                                <p>Donec lacus libero, rutrum ac sollicitudin sed, mattis non eros.
                                                    Vestibulum congue nec eros quis lacinia. Mauris non tincidunt
                                                    lectus. Nulla mollis, orci vitae accumsan rhoncus.</p>
                                                <a href="places-3" class="mm-r-m-btn">Read more</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </!-->


                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- TOP SEARCH BOX -->
    <div class="search-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="search-form">
                        <form class="tourz-search-form">
                            <div class="input-field">
                                <input type="text" id="select-city" class="autocomplete">
                                <label for="select-city">Enter city</label>
                            </div>
                            <div class="input-field">
                                <input type="text" id="select-search" class="autocomplete">
                                <label for="select-search" class="search-hotel-type">Search over a million tour and
                                    travels, sight seeings, hotels and more</label>
                            </div>
                            <div class="input-field">
                                <input type="submit" value="search" class="waves-effect waves-light tourz-sear-btn">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END TOP SEARCH BOX -->
</section>